@import url("style.css");

.content {
    padding: 30px;
    height: calc(100vh - 60px);
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.content form .form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content form .form-item label {
    color: var(--primary);
    font-weight: 600;
}

.content form .form-item select {
    height: 40px;
    padding: 0 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    outline: none;
}

.content form .form-item button {
    background-color: var(--primary);
    color: white;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.content form .form-item button:hover {
    background-color: #b33c3c;
}

@media only screen and (max-width: 600px) {
    .content form {
        width: 100%;
    }
}
